body {
  max-width: 100%;
  /* overflow-x: hidden; */
  font-family: "Titillium Web", sans-serif;
}
a {
  text-decoration: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12px;
  margin-top: 4rem;
  max-width: 100%;
  overflow-x: hidden;
}
.card {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.one,
.two,
.three {
  display: inline-block;
}
.two {
  display: flex;
  align-items: center;
}
.details {
  display: block;
  margin-bottom: 0.2rem;
}
.date-posted {
  margin-right: 5rem;
  white-space: nowrap;
}
.job-title {
  font-size: 18px;
  font-weight: bold;
}
.job-company,
.job-location,
.date-posted {
  color: gray;
}
.btn {
  display: inline-block;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
.btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
/* h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.1;
  padding: 0.2rem;
  transform: translate(-50%, -50%);
  margin-top: 4rem;
} */
.value-h1 {
  transform: none;
}
h3 {
  color: grey;
  margin-bottom: 0;
}
.job-heading {
  width: 50%;
  margin: 0 auto;
}
.job-heading-border {
  border: solid 2px #007bff;
  width: 20px;
}

.jumbotron {
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.navbar {
  margin-top: 1rem;
  width: 70%;
  margin: 0 auto;
}
ul {
  display: inline-flex;
  float: right;
  margin-top: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
  margin-right: 1.5rem;
  color: grey;
  font-weight: 400;
  cursor: pointer;
}
.logo {
  text-decoration: none;
  color: grey;
}
.jobs {
  margin: 0;
}
.card {
  margin-top: 1rem;
}
.latest-jobs-heading {
  animation-delay: 1s;
}
.job-heading-border {
  animation-delay: 0.8s;
}
.cards {
  animation-delay: 1.2s;
}
.about-image {
  margin: 0 auto;
  width: 70%;
}
.why {
  transform: translate(50%, -50%) !important;
}
.features {
  margin: 0 auto;
  width: 50%;
}
.img {
  border-radius: 0.25rem;
}
.test {
  display: flex;
  padding: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}
.test-1 {
  display: grid;
  margin-top: 4rem;
  max-width: 100%;
  overflow-x: hidden;
}

.feature-icon {
  display: flex;
  align-items: center;
}
.feature-content {
  padding-left: 2rem;
}
.feature-title {
  margin-top: 0;
  font-weight: bold;
}
.feature-desc {
  color: gray;
  margin-top: -1rem;
}

.rev-block {
  position: absolute;
  /* transform: translate(50%, -50%); */
  transform: translate(-10%, -50%);
  width: 50%;
  font-size: 70px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.1;
    padding: 0.2rem;
    /* transform: translate(-50%, -50%); */
    margin-top: 4rem;
}

.rev-block span {
  opacity: 0;
  animation: appear-text 0.0001s linear forwards;
  animation-delay: 0.4s;
}

.rev-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #007bff;
  animation: rev-block 1s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  /* animation-delay: 1s; */
}

@keyframes rev-block {
  0% {
    left: 0;
    width: 0%;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0%;
  }
}

@keyframes appear-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.desc {
  /* position: absolute;
  transform: translate(-50%, 8rem); */
  width: 70%;
  margin: 0 auto;
  animation-delay: 0.8s;
  margin-bottom: 0;
  font-size: 22px;
  text-align: initial;
  margin-top: 12rem;
}
.job-desc {
  animation-delay: 0.8s;
  margin-bottom: 0;
  font-size: 22px;
  margin-top: 8rem;
}
.sub {
  animation-delay: 0.8s;
  margin-bottom: 0;
  font-size: 22px;
  margin-top: 3rem !important;
}
.responsive {
  width: 100%;
  /* height: auto; */
  margin-bottom:4rem;
}
.footer {
  margin-top: 2rem;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}
.fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .grid {
    margin-top: 1rem;
  }
  .navbar {
    width: 100%;
  }
  .jumbotron {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 42px;
    transform: none !important;
    margin: 0 !important;
  }

  .rev-block {
    width: auto;
  }
  .why {
    transform: none !important;
    width: 93%;
  }

  .job-heading {
    width: 100%;
    padding-left: 1rem;
  }

  .card {
    display: grid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;
    justify-content: inherit;
    width: auto;
  }
  .two {
    display: grid;
  }
  .btn {
    margin-top: 0.5rem;
    float: right;
  }
  /* .jobs {
    margin-top: 10rem;
  } */

  .desc {
    transform: none;
    margin-top: 4rem;
    padding: 1rem;
    width: auto;
  }
  .job-desc {
    /* transform: translate(0, 6rem) !important; */
    margin-top: 8rem;
  }
  .about-image {
    width: 100%;
  }
  .test-1 {
    margin: 0;
  }
  .features {
    width: 100%;
  }
  .feature-icon {
    display: block;
  }
  .feature-icon,
  .feature-title {
    margin-top: 1rem;
  }
  .feature-content {
    padding-left: 0.5rem;
  }
  .feature-icon-img {
    width: 25px;
    margin-top: 4px;
  }
  /* .test-1 {
    margin-top: 70rem !important;
  } */
  .test {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 1rem;
  }
}
@media (max-width: 375px) {
  .desc {
    padding-top: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .rev-block {
    width: auto;
    transform: translate(-5%, -50%);
  }
  .job-heading,
  .card {
    width: 80%;
  }
  .why {
    width: 47%;
  }
  h1 {
    font-size: 72px;
  }
  .job-desc {
    margin-top: 12rem;
  }
  .features {
    padding: 2rem !important;
    width: 66% !important;
    /* margin: 0; */
  }

  .sub {
    padding: 2rem !important;
    /* width: 66% !important; */
  }

  .jumbotron-why {
    margin: 0 !important;
  }

  /* .value-h1 {
    width: 71% !important;
  } */
}
@media (min-width: 1024px) {
  .features,
  .value-h1,
  .sub {
    margin: 0 auto;
  }
  .value-h1 {
    margin-top: 4rem;
  }
}

/* Landsacpe*/
@media (min-width: 481px) and (max-width: 767px) {
  .rev-block {
    width: auto;
    transform: translate(-1%, -50%);
  }
  .why {
    width: 50%;
  }
  .job-desc {
    margin-top: 10rem;
  }
  .jumbotron {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .job-heading {
    margin: 0 auto;
    width: 80%;
  }
  .card {
    width: 80%;
  }
  .features {
    width: 100%;
  }
}
